:root {
    --primary-text-color: #ffffff;
    --title-text-color: #212121;   
    --button-background-color: #fce38a;    
    --background-color: #2f303a;
    --borderColor: #b3b3b3;
    --afterColor: #f38181;
  }
  
/*
  @media screen and (min-width: 768px) {
     justify-content: center
  }
  */