.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
      justify-content: center
   }
  }
  
  .services_item {
    width: 23%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 30px;
  }
  
  
  
  .services_icon {
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 1;
  }
  
  .services_title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
  }
  
  .services_description {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #b3b3b3;
  }
  